.theTitleOfMemeList{
    color: azure;
    margin-top: 0px;
    width:100%;
    background-color: #352A2A;
    text-align: left;
    height: 50px;
    padding-left: 10px;
}
ul{
    width:100px;
    display: flex;
    column-gap: 100px;
}
.image-container {
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
  }
  
  .image-selected {
    transform: scale(1.2); 
  }
  