*{
  margin: 0;
  padding: 0;
}
.register ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 50px;
  list-style-type: none; 
}

.register li::before {
  content: "\2022"; 
  color: #1443ED; 
  margin-right: 5px; 
  font-size: 30px;
}

.register li {
  color: black;
}
.register-container{
  display: flex;
  flex-direction: row;
}
.label{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.register{
  display:flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 4%;
  width: 100%;
  
}
.register input{
  height: 30px;
  border: 2px solid #1443ED;
}
.register label{
  font-weight: 500;
  font-size: 17px;
}
.register button{
  font-weight: 500;
  font-size: 17px;
  width: 110px;
  height: 50px;
  background-color: #1443ED;
  color: white;
  border: 1px solid white;
}
.register button:hover{
  background-color: black;
  color: white;
  border: 5px solid #1443ED;
  cursor: pointer;
}
/* home pages style */
.home-header{
  background-color: #1443ED;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-footer{
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.meme{
  width: 250px;
  height: 250px;
  background-color: rgb(212, 207, 207);
  border: 2px solid #1443ED;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
img{
  width: 100%;
  height: 80%;
  border-top-right-radius: 12%;
  border-top-left-radius: 12%;
}
.add-meme{
  width: 250px;
  height: 250px;
  background-color: rgb(212, 207, 207);
  border: 2px solid #1443ED;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 10px;
}


/* Add this to your App.css or a separate CSS file */

/* Styles for the pop-up */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.pop-up-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  max-width: 50%;
  height: 50%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* dashboard style */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1443ED;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: white;
}
.sidebar ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar ul li{
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}